<%= @movie %>
<ul>
  <li><%= @movie[0] %> </li>
  <li><%= @movie[1] %></li>
  <li> <%= @movie[2] %></li>
</ul>

<ul>
  <% @movie.each do |m| %>
  <li><%= m %></li>
  <% end %>
</ul>
<%= react_component("HelloWorld", {greeting: 'test greeting'}, {prerender: true}) %>